name: hello-world
on: 
  workflow_dispatch:
    inputs:
      name:
        description: 'Random Input'
        required: true
jobs:
  my-job:
    runs-on: self-hosted
    steps:
      - name: my-step
        run: echo "Hello World!"